* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template: 25% 25% 25% 25%/ 25% 25% 25% 25%;
    height: 100%;
    height: 100vh;
}

.grid-item {
    padding: 30px;
    border: 1px solid #000;
    text-align: center;
}

.header {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: #ffffff;
}

.main-content {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: #b8b5b5a1;
}

/* sidebar section*/
.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: lightskyblue;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#dashboard-img {
    background-color: #ffffff;
    width: 30px;
}

#section-one, #section-two {
    margin-bottom: 40px;
}

h4 {
    font-size: 30px;
}

.icon {
    background-color: #ffffff;
    width: 25px;
}

h3 {
    font-size: 20px;
}

h3:hover {
    cursor: pointer;
    font-size: 22px;
}

#section-two {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
}

#section-three {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
}