* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 25% 25% 25% 25%/ 25% 25% 25% 25%;
    height: 100%;
    background-color: gray;
    height: 100vh;
}

.grid-item {
    padding: 30px;
    background-color: orange;
    border: 1px solid #000;
    text-align: center;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.header {
    grid-column-start: 2;
    grid-column-end: 4;
}

.main-content {
    grid-column-start: ;
}